<div class="container">
    <h1>Gráficos dinamicos </h1>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="grid-stack" data-gs-width="12" data-gs-animate="yes">
                        <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="4" data-gs-height="4">
                            <div class="grid-stack-item-content">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Gráfica de Ejemplo 1</h5>
                                        <app-bar></app-bar>
                                        <p class="card-text">Esta es una gráfica.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-stack-item" data-gs-x="0" data-gs-y="5" data-gs-width="4" data-gs-height="4" data-gs-min-width="2" data-gs-no-resize="yes">
                            <div class="grid-stack-item-content">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Gráfica de Ejemplo 2</h5>
                                        <app-doughnut></app-doughnut>
                                        <p class="card-text">Esta es una gráfica.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-stack-item" data-gs-x="4" data-gs-y="5" data-gs-width="4" data-gs-height="4" data-gs-min-width="2" data-gs-no-resize="yes">
                            <div class="grid-stack-item-content">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Gráfica de Ejemplo 3</h5>
                                        <app-piee></app-piee>
                                        <p class="card-text">Esta es una gráfica.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-stack-item" data-gs-x="4" data-gs-y="0" data-gs-width="4" data-gs-height="4" data-gs-min-width="2" data-gs-no-resize="yes">
                            <div class="grid-stack-item-content">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Gráfica de Ejemplo 4</h5>
                                        <app-bar></app-bar>
                                        <p class="card-text">Esta es una gráfica.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-stack-item" data-gs-x="5" data-gs-y="5" data-gs-width="4" data-gs-height="4" data-gs-min-width="2" data-gs-no-resize="yes">
                            <div class="grid-stack-item-content">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Gráfica de Ejemplo 5</h5>
                                        <app-doughnut></app-doughnut>
                                        <p class="card-text">Esta es una gráfica.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-stack-item" data-gs-x="0" data-gs-y="9" data-gs-width="4" data-gs-height="4" data-gs-min-width="2" data-gs-no-resize="yes">
                            <div class="grid-stack-item-content">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Gráfica de Ejemplo 6</h5>
                                        <app-piee></app-piee>
                                        <p class="card-text">Esta es una gráfica.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>